.row
  .col-md-9
    .dashboard-header
      %h2
        フィードをまとめよう。
      %a.btn.btn-primary{ href: "#{discover_feeds_path}" }
        フィードを登録する
    %h3 最近更新
  %aside.col-md-3
    %section.user-info
      = render 'shared/user_info'
    %section.pack-info
      %span= text_field_tag 'rss_url', rss_url(current_user.packs.first.rss_token), readonly: true
