.row.mb-4
  .col
    %h1
      #{@pack.name}のフィード一覧

.row
  .col-md-9
    = render(partial: "feed", collection: @feeds, locals: { pack: @pack },
    spacer_template: "shared/default_divider") || "フィードはまだ登録されていません"

%br

= link_to "フィードの登録", new_pack_feed_path
