.row.mb-4
  .col
    %h1
      #{@pack.name}の購読一覧

.row
  .col-md-9
    = render(partial: "subscription", collection: @subscriptions, locals: { pack: @pack },
    spacer_template: "shared/default_divider") || "購読するフィードはまだ登録されていません"

%br

= link_to "フィードの購読", new_pack_feed_path
