.row.mb-4
  .col
    %h1
      パック一覧

.row
  .col-md-9
    = render(partial: "pack", collection: @packs, spacer_template: "shared/default_divider") || "パックはまだありません"

%br

= link_to "新しいパックを作る", new_pack_path
