.row.justify-content-center
  .col-md-10
    %p
      %b Name:
      = @pack.name

    = link_to "編集", edit_pack_path(@pack)
    \|
    = link_to "削除", @pack, method: :delete, data: { confirm: "本当によろしいですか？" }
