---
http_interactions:
- request:
    method: get
    uri: http://cyber.harvard.edu/rss/examples/rss2sample.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 06 Apr 2007 15:11:55 GMT
      Etag:
      - '"d46a5b-9e0-42d731ba304c0"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <rss version="2.0">
           <channel>
              <title>Liftoff News</title>
              <link>http://liftoff.msfc.nasa.gov/</link>
              <description>Liftoff to Space Exploration.</description>
              <language>en-us</language>
              <pubDate>Tue, 10 Jun 2003 04:00:00 GMT</pubDate>
              <lastBuildDate>Tue, 10 Jun 2003 09:41:01 GMT</lastBuildDate>
              <docs>http://blogs.law.harvard.edu/tech/rss</docs>
              <generator>Weblog Editor 2.0</generator>
              <managingEditor>editor@example.com</managingEditor>
              <webMaster>webmaster@example.com</webMaster>
              <item>
                 <title>Star City</title>
                 <link>http://liftoff.msfc.nasa.gov/news/2003/news-starcity.asp</link>
                 <description>How do Americans get ready to work with Russians aboard the International Space Station? They take a crash course in culture, language and protocol at Russia's &lt;a href="http://howe.iki.rssi.ru/GCTC/gctc_e.htm"&gt;Star City&lt;/a&gt;.</description>
                 <pubDate>Tue, 03 Jun 2003 09:39:21 GMT</pubDate>
                 <guid>http://liftoff.msfc.nasa.gov/2003/06/03.html#item573</guid>
              </item>
              <item>
                 <description>Sky watchers in Europe, Asia, and parts of Alaska and Canada will experience a &lt;a href="http://science.nasa.gov/headlines/y2003/30may_solareclipse.htm"&gt;partial eclipse of the Sun&lt;/a&gt; on Saturday, May 31st.</description>
                 <pubDate>Fri, 30 May 2003 11:06:42 GMT</pubDate>
                 <guid>http://liftoff.msfc.nasa.gov/2003/05/30.html#i[...]
