/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

/* universal */

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* sidebar */

.user-info {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  list-style: none;
  margin-bottom: 16px;
  padding: 10px;
}

.user-info-left, .user-info-right {
  display: inline-block;
  vertical-align: top;

}

.user-info-right {
  padding-left: 8px;

}

.user-info-avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  width: 64px;
  height: 64px;
}

.user-info-names {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1;
}

.user-info-url-name {
  font-size: 18px;
}

.user-info-stats {
  display: block;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .user-info-avatar {
    width: 48px;
    height: 48px;
  }

  .user-info-url-name {
    font-size: 16px;
  }

  .user-info-stats {
    font-size: 12px;
  }
}

.user-info-feeds-count {
  display: inline-block;
}

.user-info-stats-unit {
  font-size: 11px;
  color: #555;
  padding-left: 2px;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* dashboard */

.dashboard-header {
  h2 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

